@import url('@/assets/css/partials.css');
body {
    background-color: var(--accent-color);
}

body.active {
    background-color: rgba(0, 0, 0, 0.7);
}

.row {
    padding: 0;
    margin: 0;
}


/* Main App Drawer  */

.main--app--drawer {
    background-color: #fff;
    width: 252px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    /* overflow-y: scroll; */
}

.top--image {
    padding: 2rem 0;
}

/* .main--app--drawer .menu--header {
    color: var(--main-color);
    text-transform: capitalize;
    font-size: 14px;
    display: block;
    padding: 0.5rem 2rem;
} */

.main--app--drawer a {
    color: var(--main-color);
    display: block;
    padding: 0.8rem 2rem;
    /* margin-bottom: 15px; */
    font-size: 1rem;
    /* font-weight: 400; */
}
.main--app--drawer li {
    margin-bottom: 12px;
}

.main--app--drawer .icon {
    font-size: 1.2rem;
    margin-right: 8px;
}
.main--app--drawer .router-link-exact-active {
    background-color: var(--main-color);
    color: #fff;
    /* font-weight: bold; */
}

.main--app--drawer a:hover {
    background-color: var(--main-color);
    color: #fff;
}


/* Dashboard App Drawer  */

#main--dashboard {
    margin-left: 252px;
    padding: 2rem;
}

#dashboard--header {
    margin-left: 252px;
    background-color: #fff;
    padding: 1rem 2rem;
}

.search--field {
    background: var(--accent-color);
    border-radius: 10px;
    border: 1px solid var(--gray-400);
    width: 40%;
    padding-left: 0.4rem;
}

.search--field input[type="search"] {
    border: none;
    background-color: transparent;
    display: block;
    width: 100%;
    padding: 0.6rem 0.2rem;
    border-radius: 10px;
}

.search--field input[type="search"]:focus {
    outline: none;
}

.search--field input[type="search"]::placeholder {
    color: var(--gray-500);
}

.user--avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-weight: bold;
    border-radius: 50%;
}

.a,
.b,
.c,
.d,
.e,
.A,
.B,
.C,
.D,
.E {
    background-color: #FF0000 !important;
    color: #fff;
}

.f,
.g,
.h,
.i,
.j,
.J,
.I,
.H,
.G,
.F {
    background-color: #FFB20F;
}

.K,
.L,
.M,
.N,
.O,
.P,
.m,
.n,
.o,
.p,
.k,
.l {
    background-color: #000;
    color: #fff;
}

.q,
.r,
.s,
.t,
.u,
.Q,
.R,
.S,
.T,
.U {
    background-color: #01445f;
    color: #fff;
}

.v,
.w,
.x,
.y,
.z,
.V,
.W,
.X,
.Y,
.Z {
    background-color: rgb(11, 100, 11);
    color: #fff;
}

.menu--open {
    display: none;
}

.menu--close {
    display: none;
}


/* Dashboard */

.analytics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.table td,
.table th {
    border-top: none;
    border-bottom: none;
    font-size: 0.8rem;
    vertical-align: middle;
}

.table td {
    color: var(--main-color);
    font-weight: 500;
}

.table thead th {
    border-bottom: none;
    color: var(--gray-600) !important;
}

.other--tables .table thead th {
    border-bottom: 1px solid var(--main-color);
    color: var(--gray-700);
}

.other--tables .table td {
    color: var(--gray-800);
}

.cancelled {
    background-color: rgb(255, 198, 198);
    color: red;
    padding: 0.2rem 0.5rem;
    border-radius: 3px;
}

.completed {
    background-color: #CBF4C9;
    color: rgb(3, 116, 3);
    padding: 0.2rem 0.5rem;
    border-radius: 3px;
}

.pending {
    background-color: rgb(255, 229, 189);
    color: #ffb20f;
    padding: 0.2rem 0.5rem;
    border-radius: 3px;
}